@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@layer base {
  :root {
    --background: #F9F9F9;
    --text-primary: #333333;
    --accent: #C2B280;
    --accent-light: #E0D8C0;
    --foreground: #333333;
    
    --font-playfair: 'Playfair Display', serif;
    --font-noto: 'Noto Sans JP', sans-serif;
  }

  body {
    @apply bg-background text-text-primary font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
